@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?38376199');
  src: url('../font/icons.eot?38376199#iefix') format('embedded-opentype'),
       url('../font/icons.woff2?38376199') format('woff2'),
       url('../font/icons.woff?38376199') format('woff'),
       url('../font/icons.ttf?38376199') format('truetype'),
       url('../font/icons.svg?38376199#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?38376199#icons') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-to-end:before { content: '\e800'; } /* '' */
.icon-to-end-alt:before { content: '\e801'; } /* '' */
.icon-to-start:before { content: '\e802'; } /* '' */
.icon-to-start-alt:before { content: '\e803'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e804'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
