body {
    margin: 0;
}

.price_history_app {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    margin: 0;
}

.price_history_chart {
    display: flex;
    min-height: 90vh;
    min-width: 100vw;
}

.chart_panel_container {
    display: flex;
    box-sizing: border-box;
}

.chart_panel {
    display: block;
    width: 100%;
    background-color: #111;
    transition: 0.5s;
    position: relative;
}

.chart_panel a {
    padding: 8px;
    line-height: 50px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: inline;
    transition: 0.3s;
}

.chart_panel a:hover {
    color: #f1f1f1;
}

.chart_panel > select {
    background-color: #111;
    color: #f1f1f1;
    margin: 8px;
}

.chart_panel select {
    padding: 2px;
}

/* выпадающее меню */
.dropdown {
    display: inline-block;
    font: 400 14px Arial;
    border: 1px solid #7b7b7b;
    margin: 8px;
}

.dropdown .drop_button {
    outline: none;
    color: white;
    background-color: inherit;
    border-width: 0px;
    cursor: pointer;
    padding: 3px 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -1px;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #333;
}

.dropdown .dropdown-content div.dropdown-item {
    line-height: 25px;
    color: white;
    text-decoration: none;
    text-align: left;
    padding: 4px 8px;
    cursor: pointer;
    font: 400 14px Arial;
}

.dropdown .dropdown-content div.dropdown-item:hover {
    background-color: #555;
}

/* модальное окно */

.modal-window {
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 250px;
    min-height: 100px;
    padding: 15px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background: #fff;
}

.background-modal {
    z-index: 9998;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.modal-window h5 {
    margin-bottom: 5px;
}